<!DOCTYPE html>
<html>
<head>
  <title>Bowling</title>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body {
    background: #3b679e;
  }
  body, .info { scroll-behavior: smooth }

  #spinner {
    padding-top: 5%;
    display:none;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 100;
    text-align: center;
  }

  #spinner img {
    max-width: 200px;
    width: 100%;
    border-radius: 20px;
  }

  html {
    height: 100%;
  }
  </style>

  <script>
  $( document ).ready(function() {
    var element = document.getElementsByClassName("info")[0];
    if(element) {
      zenscroll.to(element);
      $(".info").fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
    }
    $("#submit_button").on("click", function() {
      $("#submit_button").attr('disabled', 'disabled');
      $("#spinner").show();
      $("#search_form").submit();
    });
  });
  </script>
</head>
<body>
  <div id="spinner">
    <img src="https://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif">
  </div>
  <div class="container-fluid" style="height: 100%;">
    <%= yield %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zenscroll/4.0.0/zenscroll-min.js"></script>
</body>
</html>
