<!DOCTYPE html>
<html>
<head>
  <title>Bowling</title>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body {
    background: #3b679e;
    background: -moz-linear-gradient(45deg, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
  }
  body, .info { scroll-behavior: smooth }

  div.cssload-content {
    margin: auto;
    display: box;
    display: -o-box;
    display: -ms-box;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-direction: normal;
    -o-box-direction: normal;
    -ms-box-direction: normal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
  }

  .cssload-l1, .cssload-l2, .cssload-l3 {
    background: rgb(0,0,0);
    height: 14px;
    width: 83px;
    margin: 14px;
    animation: cssload-loading1 0.95s 0s infinite ease-in-out;
    -o-animation: cssload-loading1 0.95s 0s infinite ease-in-out;
    -ms-animation: cssload-loading1 0.95s 0s infinite ease-in-out;
    -webkit-animation: cssload-loading1 0.95s 0s infinite ease-in-out;
    -moz-animation: cssload-loading1 0.95s 0s infinite ease-in-out;
  }

  .cssload-l2 {
    animation: cssload-loading2 0.475s 0s infinite ease-in-out alternate;
    -o-animation: cssload-loading2 0.475s 0s infinite ease-in-out alternate;
    -ms-animation: cssload-loading2 0.475s 0s infinite ease-in-out alternate;
    -webkit-animation: cssload-loading2 0.475s 0s infinite ease-in-out alternate;
    -moz-animation: cssload-loading2 0.475s 0s infinite ease-in-out alternate;
  }

  .cssload-l3 {
    animation: cssload-loading1 0.95s 0s infinite ease-in-out reverse;
    -o-animation: cssload-loading1 0.95s 0s infinite ease-in-out reverse;
    -ms-animation: cssload-loading1 0.95s 0s infinite ease-in-out reverse;
    -webkit-animation: cssload-loading1 0.95s 0s infinite ease-in-out reverse;
    -moz-animation: cssload-loading1 0.95s 0s infinite ease-in-out reverse;
  }

  @keyframes cssload-loading1 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @-o-keyframes cssload-loading1 {
    0% {
      -o-transform: rotate(0deg);
    }
    50% {
      -o-transform: rotate(180deg);
    }
    100% {
      -o-transform: rotate(360deg);
    }
  }

  @-ms-keyframes cssload-loading1 {
    0% {
      -ms-transform: rotate(0deg);
    }
    50% {
      -ms-transform: rotate(180deg);
    }
    100% {
      -ms-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes cssload-loading1 {
    0% {
      -webkit-transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @-moz-keyframes cssload-loading1 {
    0% {
      -moz-transform: rotate(0deg);
    }
    50% {
      -moz-transform: rotate(180deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }

  @keyframes cssload-loading2 {
    0% {
      transform: translateX(28px);
    }
    100% {
      transform: translateX(-28px);
    }
  }

  @-o-keyframes cssload-loading2 {
    0% {
      -o-transform: translateX(28px);
    }
    100% {
      -o-transform: translateX(-28px);
    }
  }

  @-ms-keyframes cssload-loading2 {
    0% {
      -ms-transform: translateX(28px);
    }
    100% {
      -ms-transform: translateX(-28px);
    }
  }

  @-webkit-keyframes cssload-loading2 {
    0% {
      -webkit-transform: translateX(28px);
    }
    100% {
      -webkit-transform: translateX(-28px);
    }
  }

  @-moz-keyframes cssload-loading2 {
    0% {
      -moz-transform: translateX(28px);
    }
    100% {
      -moz-transform: translateX(-28px);
    }
  }

  #spinner {
    display:none;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    z-index: 100;
    padding-top: 20%;
  }

  html {
    height: 100%;
  }
  </style>

  <script>
  $( document ).ready(function() {
    var element = document.getElementsByClassName("info")[0];
    if(element) {
      zenscroll.to(element);
      $(".info").fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
    }
    $("#submit_button").on("click", function() {
      $("#submit_button").attr('disabled', 'disabled');
      $("#spinner").show();
      $("#search_form").submit();
    });
  });
  </script>
</head>
<body>
  <div id="spinner">
    <div class="cssload-content">
      <div>
        <div class="cssload-l1"></div>
        <div class="cssload-l2"></div>
        <div class="cssload-l3"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="height: 100%;">
    <%= yield %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zenscroll/4.0.0/zenscroll-min.js"></script>
</body>
</html>
